@model AdminProfile_ViewModel
@{
    Layout = null;
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>แก้ไข Admin</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><span class="text-primary">Admin</span></li>
                    <li class="breadcrumb-item"><span class="text-primary">แก้ไข Admin</span></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>


<!-- Main content -->
<section id="edit_content" class="content">
    <form id="form_admin" asp-action="EditAdminProfile" asp-controller="Admin" method="POST"
        enctype="multipart/form-data" asp-antiforgery="true" target="_blank">

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
<input type="hidden" id="BdYear" value="@ViewBag.BdYear" />
                    <center>
                        <input type="hidden" id="account"
                            value='@HttpContextAccessor.HttpContext.Session.GetString("_EditAdminCode")'>
                        <input type="hidden" asp-for="MP_Admin.admin_code">
                        <img id="img0" alt="" width="120" src="/asset/img/add-user.jpg"
                            class="img-fluid img-thumbnail rounded-circle ion ion-person-add"
                            onclick="javascript:selectImage()" style="cursor: pointer;height:120px;object-fit:cover;">
                        <img id="imagePreview" alt="" width="120"
                            class="img-fluid img-thumbnail rounded-circle ion ion-person-add"
                            onclick="javascript:selectImage()" style="cursor: pointer;height:120px;object-fit:cover;">
                        <br><b id="clear_avatar" class="clear-avatar">ลบรูปประจำตัว</b>
                    </center>
                    <input type="hidden" asp-for="MP_Admin.avatar">
                    <input type="file" hidden id="file" name="file" accept="image/x-png,image/jpg,image/jpeg">

                </div>
                <div class="card card-outline card-warning">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Username <span id="msg_username" style="color: red;">*</span></label>
                                <input type="text" asp-for="MP_Admin.username" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Password</label>
                                <input type="password" asp-for="MP_Admin.password" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Confirm Password</label>
                                <input type="password" id="conf_password" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="MP_Admin.change_password">
                                    <label class="form-check-label" for="MP_Admin_change_password">เปลี่ยน Username
                                        password เมื่อเริ่มเข้าสู่ระบบ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                </div>
            </div>
            <!-- /.col-->
        </div>
        <!-- ./row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-warning">
                    <div class="card-header">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label>คำนำหน้านาม <span style="color: red;">*</span></label>
                                <select asp-for="MP_Admin.prefix_id" class="form-control">
                                    <option value="">กรุณาเลือก</option>
                                    @foreach (var itemPrefix in Model.MT_Prefix)
                                    {
                                        <option value="@itemPrefix.prefix_id">
                                            @itemPrefix.prefix_name_th</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-5">
                                <label>ชื่อ <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" asp-for="MP_Admin.firstname">
                            </div>
                            <div class="form-group col-md-5">
                                <label>นามสกุล <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" asp-for="MP_Admin.lastname">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label>เพศ <span style="color: red;">*</span></label>
                                <select asp-for="MP_Admin.gender_id" class="form-control">
                                    <option value="">กรุณาเลือกเพศ</option>
                                    @foreach (var itemGender in Model.MT_Gender)
                                    {
                                        <option value="@itemGender.gender_id">
                                            @itemGender.gender_name_th</option>
                                    }
                                </select>
                            </div>


                            <div class="form-group col-md-2">
                                <label>วันเกิด</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="text" asp-for="MP_Admin.birthday"
                                        class="form-control datetimepicker-input" data-target="#reservationdate" />
                                    <div class="input-group-append" data-target="#reservationdate"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="validationDefaultUsername">เบอร์โทรศัพท์</label>
                                <div class="input-group">

                                    <input type="text" asp-for="MP_Admin.mobile_number" class="form-control"
                                        data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']"
                                        data-mask>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend2"><i
                                                class="fas fa-phone"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="button" id="btn_submit" style="width: 100px;" class="btn btn-warning">Edit</button>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="button" hidden id="btn_alert" class="btn btn-primary" data-toggle="modal"
                data-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ยืนยันการแก้ไข</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @* <div class="modal-body">
                            ...
                            </div> *@
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cencel</button>
                            <button type="button" onclick='javascript:GetSubmit("FormEdit");' class="btn btn-primary"
                                data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- ./row -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="font-size: 14px;">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">รายชื่อผู้ดูแลระบบ</h3>
                    </div>
                    <div id="div_addTable" class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/inputpicker.js"></script>
<script src="~/js/AdminProfile/FucFormAdmin.js"></script>
<script src="~/js/AdminProfile/EditProfile.js"></script>